html, body, class{
	background: #000000; 
	color: white;
	font: bold 16px Georgia, serif;
	margin: 0;
}
.masthead h1.ui.header{
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 4em;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    color: black;
    background: black;
    color: rgba(255,255,255,.9);
}

h2.ui.header{
	 border-bottom: solid;
}
footer{
	border-top: solid;
	display: inline-block;
	margin-top: 2em;
	padding: 1em;
}

#doge{
	/*background: green;*/
	font-size: 1.3em;
	background: linear-gradient(rgba(38, 25, 12, 0.5),/*light green*/
                             rgba(255, 137, 20, 0.5)),/*dark purple*/
                             url("../images/doge.png");
    width: 100%;
    height: 500px;
    /*for parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

